<h1>Editar Requisito</h1>

<%= render 'form', requirement: @requirement %>

<div class="botoes-secundarios">
	<%= link_to 'Ver', @requirement, class:"btn btn-success botao-table" %> |
	<%= link_to 'Voltar', databases_path, class:"btn btn-warning botao-table" %>
</div>
