<h1>Editar Banco de Requisitos</h1>

<%= render 'form', database: @database %>

<div class="botoes-secundarios">
	<%= link_to 'Ver', @database, class:"btn btn-success botao-table" %> |
	<%= link_to 'Voltar', databases_path, class:"btn btn-warning botao-table" %>
</div>
