/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*LOGIN*/
#h1-login, .h2_title{text-align: center;}
.botao_login, .botao_signup{
	margin: 0 auto;
 	display: table;
 	font-size: 18px;
 	font-weight: bold;
 	border-radius: 18px;
 	padding-right: 10%;
 	padding-left: 10%;
 }
 .logo-login, .links{
 	margin: 0 auto;
 	display: table;
 }
 .links{margin-top: 14px; font-weight: bold;}
.botao_login, .botao_signup{border-color: #f48642; background: #fff; color: #428bca;}
.botao_signup{margin-top:15px;}
.navbar-default{
	background: #f48642; 
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff !important;
}
.navbar-default .navbar-nav > li > a{
	color: #fff !important;
	font-size: 18px; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #888888;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #fff;
}
.navbar-brand{
	color: #fff !important;
}
.botao-table{
	color: #fff !important;
	font-weight: bold;
}

