/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*LOGIN*/
#h1-login, .h2_title{text-align: center;}
.botao_login, .botao_signup{
	margin: 0 auto;
 	display: table;
 	font-size: 18px;
 	font-weight: bold;
 	border-radius: 18px;
 	padding-right: 10%;
 	padding-left: 10%;
 }
 .logo-login, .links{
 	margin: 0 auto;
 	display: table;
 }
 .links{margin-top: 14px; font-weight: bold;}
.botao_login, .botao_signup{border-color: #f48642; background: #fff; color: #428bca;}
.botao_signup{margin-top:15px;}
.navbar-default{
	background: #f48642; 
}

/* Header */

header ul{
	font-size: 22px;

}
header ul li{
	display: inline;
	padding-right: 1%;
} 

header a:hover{
	background: none;
}

header ul li a:hover{
	color: #333131;
	text-decoration: none;
}

.menu_top{
	margin-top: 3.5%;
	margin-left: -10%;
}

.botao-table{
	color: #fff !important;
	font-weight: bold;
}

.logo{
	margin-top: 10px;
}

.main-template{
	margin-top: 5vw;
}

/* Pages */

.h1-pages{
	text-align: center;
}

.atributos{
	font-size: 18px;
}

.span-pages{
	font-size: 18px;
}

.stars img{
	width: 40px;
}

.priority-pages h4{
	text-align: center;
}

.priority-pages .stars{
	margin: 0 auto;
	display: table;
}